<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Sample test Suite">
   <test name = "Sample test">
   	<groups>
   		<run>
   			<include name="scenario1"> </include>
   			<include name="scenario2"> </include>
   			<include name="scenario3"> </include>
   		</run>
   	</groups>
    <classes>
         <class name = "com.training.sanity.tests.Assignment2aTest" />
         <class name = "com.training.sanity.tests.Assignment2bTest" />
    </classes>
   </test>
</suite>	